*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #b17f14, #14aa4d);
    padding: 80px;
    
}
.unique{
    width: 100%;
    max-width: 700px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px
}
.unique h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.unique h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 32px;
    padding-left: 22px;
    margin-bottom: 27px;
}
input{
    flex: 1;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 12px 52px;
    background-color: crimson;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 19px;
    padding: 13px 9px 11px 48px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 29px;
    width: 41px;
    border-radius: 50%;
    background-image: url("unckecked.png");
    background-size: cover;
    top: 14px;
    left: 9px;

}
ul li.checked{
    color: #474646;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("checked.jpg");
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #585555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}